# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Dependencies
# =========================
node_modules
vendor

# =========================
# Build outputs
# =========================
dist
dist-ssr
build

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# Laravel
# =========================
/bootstrap/cache/*
/storage/*.key

# =========================
# Vite / frontend
# =========================
*.local

# =========================
# Editor
# =========================
.vscode/*
!.vscode/extensions.json
.idea

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Misc
# =========================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
